.App {
  text-align: center;
}
*{
	font-family: 'Montserrat', 'AdobeInvisFont', 'MyriadPro-Regular';
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
  }
button , a{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	text-decoration: none;
	color: #000
}
a:hover{
	text-decoration: none;
	color: #000
}
button{
	background: none;
	border: none
}
.carousel__dot-group button{
	height: 10px !important;
	width: 10px !important;
	background: rgba(255,255,255,.8) !important
}
.carousel__dot-group .carousel__dot--selected{
	background: rgba(0,0,0,.8)
}
